.ul_lists {
    list-style: none;
    display: flex;
    /* text-align: center;  */
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 4px 2px 4px 1px #888;
    padding: 30px 0px;
    border: 1px solid #fff;
    margin-top: auto;
    /* position: fixed; */
    width: 101%;
    z-index: 5;
    cursor: pointer;
}
