.toolbar_wrapper {
    box-shadow: 1px 0px 11px 0px #ccc;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 0px;
    margin-bottom: 10px;
    z-index: 6;
    position: sticky;
    top: 0;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.profile a {
    text-decoration: none;
    color: black;
}
.chat a {
    text-decoration: none;
    color: black;
}

@media(min-width: 800px) {
    .menu {
        display: none;
    }
}

@media (max-width: 800px) {
    .toolbar {
        justify-content: space-evenly;
    }
}

@media(max-width: 799px) {
    .toolbar_wrapper {
        width: 108%;
    }
}

@media(max-width: 780px) {
    .toolbar_wrapper {
        width: 111%;
    }
}

@media(max-width: 740px) {
    .toolbar_wrapper {
        width: 114%;
    }
}

@media(max-width: 700px) {
    .toolbar_wrapper {
        width: 117%;
    }
}

@media(max-width: 799px) {
    .toolbar_wrapper {
        width: 121%;
    }
}

@media(max-width: 655px) {
    .toolbar_wrapper {
        width: 135%;
    }
}

@media(max-width: 600px) {
    .toolbar_wrapper {
        width: 150%;
    }
}

@media(max-width: 515px) {
    .toolbar_wrapper {
        width: 105vh;
    }
    .toolbar {
        display: flex;
        /* justify-content: start; */
        align-items: center;
    }
    .profile {
        display: none;
    }
    .chat {
        display: none;
    }
}