.register_container {
    display: flex;
    align-items: center;  /* changed from center to start */
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 3em;
    /* margin-left: 5em; */
}

.form_container {
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2em;
    padding: 70px 80px;
    box-shadow: 1px 3px 11px 0px #ccc;
    /* height: 70vh; */
}

.form_container input {
    width: 250px;
    height: 20px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #ccc;
    margin-top: 30px;
}

.signup {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.btn_container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

@media(max-width: 540px) {
    .register_container {
        display: flex;
        align-items: center;  
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 3em;
    }
    .form_container {
        padding: 100px 80px;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 499px) {
    .form_container {
        padding: 80px 30px;
        justify-content: center;
        align-items: center;
    }
    .register_container {
        margin-top: 2px;
    }
}

@media(max-width: 280px) {
    .form_container {
        justify-content: center;
        align-items: center;
        padding: 30px 7px;
    }
}
