.offer_container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 16px;
    margin: 10px 0px;
}

.braid_cont {
    border: 1px solid #fff;
    padding: 10px 16px;
    box-shadow: 0px 2px 9px 2px #888;
    /* background: rgba(236, 77, 56, 0.4); */
}

.braid_cont p,
.braid_container div {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: oblique;
    /* color: #fff; */
}

.braid_container {
    display: flex;
}

.image {
    object-fit: none;
    object-position: top;
    width: 250px;
    height: 250px;
    border-radius: 10em;
}

.image:hover {
    /* transition: all 0.3s ease-out;
    transform: rotate(-20); */
    cursor: pointer;
}