.ul_cont {
    list-style: none;
    /* border: 1px solid black; */
    position: fixed;
    left: 0;
    margin: 60px 0px;
}

.side {
    list-style: none;
}

.ul_cont li a,
.side li a {
    text-decoration: none;
    color: black;
}

.ul_cont li a:active,
.side li a:active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgba(292, 30, 50, 0.5);
    width: 100px;
}

.ul_cont li {
    padding: 15px 16px;
    margin: 10px;
}

.side li {
    padding: 20px 16px;
    margin: 10px;
}

.ul_cont li:hover,
.side li:hover {
    padding: 8px 12px;
    background-color: rgba(292, 30, 50, 0.5);
    color: #fff;
}


@media(max-width: 800px) {
    .ul_cont {
        display: none;
        /* margin-top: 80vh; */
        border: 1px solid #ccc;
        position: fixed;
        z-index: 3;
    }

    .ul_cont li {
        font-size: 20px;
        padding: 20px 16px;
        margin: 0px;
        height: 16vh;
    }

    .icon {
        font-size: 1.8em;
    }
}

@media(min-width: 800px) {
    .side {
        display: none;
    }
}


@media(max-width: 600px) {
    .ul_cont li {
        font-size: 18px;
        padding: 20px 20px;
        margin: 0px 10px;
        height: 14vh;
    }

    .ul_cont {
        display: none;
    }

    .icon {
        font-size: 2em;
        /* display: none; */
    }
}

@media(max-width: 450px) {
    .ul_cont li {
        font-size: 16px;
        padding: 20px 8px;
        margin: 0px;
        height: 20vh;
    }
}

@media(max-width: 350px) {
    .ul_cont li {
        font-size: 15px;
        padding: 10px 8px;
        margin: 0px;
        height: 25vh;

    }
}