
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 9px 0px #ccc;
    padding: 50px 70px;
    border-radius: 4px;
    /* margin: 40% 200px; */
    text-align: center;
    z-index: 10;
    position: sticky;
    border: 1px solid black;
    background-color: #fff;
}

.backdrop {
    background-color: rgba(44, 41, 41, 0.5);
    width: 500vh;
    height: 500vh;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
}


.container p {
    font-family: 'Times New Roman', Times, serif;
    
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 800px) {
    .container {
        margin-top: 50%;
        /* margin-left: -1em; */
    }
}