.container {
    border: 1px solid #ccc;
    box-shadow: 1px 3px 9px 0px #ccc;
    padding: 10px 70px;
    margin: 40% 200px;
    text-align: center;
    /* z-index: 4; */
    /* position: relative; */
}


.container p {
    font-family: 'Times New Roman', Times, serif;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 800px) {
    .container {
        margin-top: 250px;
        margin-left: -1em;
    }
}