.container {
    border: 1px solid #fff;
    background-color: rgba(185, 245, 245, 0.4);
    padding: 16px 20px;
    /* margin: 5px 25px; */
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 120px;
    margin-left: -15px;
    box-shadow: 1px 2px 3px 2px #888;

}



.image_text_container {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .image_container {
    border: 1px solid black;
} */

.image {
    width: 160px;
    height: 25vh;
    border-radius: 0.5em;
}

.btn_para_container {
    text-align: start;
    /* border: 1px solid black; */
    margin: 0px 16px;
}

.btn_para_container p {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

.btn_container {
    text-align: start;
    margin-bottom: 8px;
}

@media (max-width: 499px) {
    .container {
        padding: 12px 8px;
        margin-right: 0px;
        margin-left: 0px; 
        width: 450px;
    }
    .image_text_container {
        /* border: 1px solid black; */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image {
        width: 100px;
    }
    .btn_para_container {
        text-align: center;
        /* border: 1px solid black; */
        margin: 0px 0px;
    }
    .btn_container {
        text-align: center;
        margin-bottom: 8px;
    }
    .btn_para_container p {
        text-align: center;
    }
}



