.wrapper {
    margin-left: -50%;
}


@media(max-width: 540px) {
    .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 652px) {
    .wrapper {
        margin-top: -12%;
    }
}

@media(max-width: 999px) {
    .wrapper {
        margin-top: 47%;
    }
}