.main_container {
    display: flex;
    text-align: center;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    margin: 0px 100px;
    padding: 5px 20px;
}

.container {
    display: flex;
    right: 10%;
    left: 10%;
}

.ImageCosmetics {
    width: 40%;
    height: 50vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
}

.btn {
    margin-top: 30px;
    margin-bottom: 4px;
    display: flex;
}

.btn_text {
    flex-flow: row;
    flex-wrap: wrap;
    text-align: start;
    padding: 30px 60px;
    background: rgba(243, 167, 179, 0.2);
    /* border: 1px solid black; */
}

.h1 {
    font-size: 20px;
    margin: 0px 0px;
}