.SideDrawer {
    width: 82%;
    height: 200vh;
    background: #fff;
    border: 1px solid #eee;
    transition: all 0.5s ease-in;
    box-shadow: 1px 3px 11px 0px #ccc;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.ul_nav {
    list-style: none;
}

.ul_nav li {
    padding: 20px 0px;
}

.ul_nav a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.close {
    transform: translateX(-200vh);
}

.open {
    transform: translateX(0vh);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    width: 20%;
    padding: 8px 10px; 
    margin-top: -15em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media(max-width: 500px) {
    .SideDrawer {
        height: 300vh;
        width: 80%;
    }
}

@media(max-width: 820px) {
    .wrapper {
        justify-content: space-around;
    }
    .select {
        margin-top: -33em;
        width: 30%;
    }
}

@media(max-width: 280px) {
    .select {
        width: 40%;
    }
}