.search_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}


.search_cont,
.article_container {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 0.3em;
    box-shadow: 1px 2px 3px 1px #888;
}

.search {
    padding: 8px 20px;
    width: 300px;
    border: none;
}
@media (max-width: 499px) {
    .search_container {
        flex-wrap: wrap;
    }
    .search {
        display: none;
    }
    .search_cont {
        flex-direction: column;
    }
}

.article_container {
    padding: 6px 20px;
    width: 200px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 1.5em;
}

